<div class="search-bar mb-4" th:fragment="searchBar(columnToFilterId)">
    <input class="form-control" id="filter" type="text" placeholder="Search..." onkeyup="search()">

    <script th:inline="javascript">
        function search() {
            var input, filter, table, tr, td, i, txtValue;
            var columnToFilterId = /*[[${columnToFilterId}]]*/ '';
            input = document.getElementById("filter");
            filter = input.value.toUpperCase();
            table = document.getElementsByTagName("table").item(0);
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td").namedItem(columnToFilterId);
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</div>