<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/styles/table.css}">
    <link rel="stylesheet" th:href="@{/styles/centered-table-search-bar.css}">
    <link rel="stylesheet" th:href="@{/styles/hide-cloack.css}">
    <th:block th:replace="~{fragments/layout.html :: config}"></th:block>
</head>

<body>


<div x-data="{subjects: []}" x-init="subjects = getSubjects()">
    <div th:replace="~{fragments/header.html:: header(null)}"></div>
    <div th:replace="~{fragments/tabs.html:: tabs}"></div>
    <div th:replace="~{fragments/search-bar.html :: searchBar('subject-name')}"></div>
    <table class="table centred-table" id="subjects-table">
        <thead>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <template x-for="subject in subjects">
            <tr>
                <td x-text="subject.name" id="subject-name"></td>
                <td class="align-middle">
                    <div class="row-buttons">
                        <button class="edit-button btn btn-secondary">Edit</button>
                        <button class="btn btn-primary">Start session</button>
                    </div>
                </td>

            </tr>
        </template>
        </tbody>
    </table>
</div>

</body>
</html>

<script type="text/javascript" src="/js/services/ApiService.js"></script>
<script>
    async function getSubjects() {
        return await ApiService.getRequest('professors/1/subjects')
    }
</script>