<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/styles/table.css}">
    <link rel="stylesheet" th:href="@{/styles/centered-table-search-bar.css}">
    <link rel="stylesheet" th:href="@{/styles/hide-cloack.css}">
    <th:block th:replace="~{fragments/layout.html :: config}"></th:block>
</head>

<body>

<div x-data="viewData" x-init="subjects = getSubjects()">

    <div th:replace="~{fragments/header.html:: header(previousView)}"></div>

    <template x-if="currentView === 'subjects'">
        <div>
            <div th:replace="~{fragments/tabs.html:: tabs}"></div>
            <div th:replace="~{fragments/search-bar.html :: searchBar('subject-name')}"></div>
            <table class="table centred-table" id="subjects-table">
                <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <template x-for="subject in subjects">
                    <tr>
                        <td x-text="subject.name" id="subject-name"></td>
                        <td class="align-middle">
                            <div class="row-buttons">
                                <button class="edit-button btn btn-secondary">Edit</button>
                                <button class="btn btn-primary">Start session</button>
                            </div>
                        </td>

                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </template>


</div>
</body>
</html>

<script type="text/javascript" src="/js/services/ApiService.js"></script>
<script>
    $(document).ready(function () {
        $("#filter").on("keyup", function () {
            const value = $(this).val().toLowerCase();
            $("#subjects-table-body tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    async function getSubjects() {
        let subjects = await ApiService.getRequest('professors/1/subjects');
        return await subjects.json();
    }

    document.addEventListener('alpine:init', () => {
        Alpine.data('viewData', () => ({
                currentView: 'subjects',
                previousView: null,

                changeView(view) {

                },
            })
        )
    })
</script>